#table{
	margin:0 auto;
	cursor: pointer;
	border-collapse: collapse;
}
#table td{
	border:1px solid #000;
	background: #fff;
}
#table td.black{
	background: #000;
}
#table.active td{
	background: #000;
}
#table.active .black{
	background: #fff;
}