body{
	font-family: 'Lato' , sans-serif;
	overflow-x: hidden;
}

.header__navbar,footer{
	font-family: 'Montserrat' , sans-serif;
}
a{
	text-decoration: none;
}

ul{
	list-style: none;
}

.main-logo{
	position: absolute;
	right: -600px;
}

.header__navbar{
	height: 40px;
	background: #373c3f;
	display: flex;
	justify-content: space-between;
	position: relative;
}

.navigation{
	font-family: 'Montserrat' , sans-serif;
	color:  #ffffff;
	font-size: 1rem;
	font-weight: 500;
	position: relative;
	top:10px;
	left: 15px;
}

.header__navbar-nav{
	position: relative;
}

.toggle-navbar{
	position: relative;
	width: 40px;
	height: 40px;
	background: #333;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.line{
	width: 16px;
	height: 2px;
	background: #fff;
	margin-bottom: 2px;
	transition: transform 0.4s ease;
}

.line:last-child{
	margin-bottom: 0;
}

.active .line:nth-child(2){
	opacity: 0;
}

.active .line:nth-child(1){
	transform: rotate(45deg);
	transform-origin: 2.4px;
	margin-left: 5px;
}

.active .line:nth-child(3){
	transform: rotate(-45deg);
	transform-origin: 2.4px;
	margin-left: 5px;
}

.header__navbar-nav-menu{
	position: absolute;
	right:-600px;	
	top: 24px;
	transition: all 0.6s ease;
}

.header__navbar-nav-menu li{
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
    width: 182px;
    height: 15px;
    background: #fafafa;
    padding: 11px;
}

.header__navbar-nav-menu li:hover{
	background: #f5f5f5;
}


.header__navbar-nav-menu li a{
	color:  #444444;
	font-size: 0.9rem;
}

.active .header__navbar-nav-menu{
	position: absolute;
	right:0;
	transition: all 0.6s ease;	
}

.header__banner-heading{
	width: 100%;
	height: 153px;
	background-image: url('../images/320/header-fon copy 3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	padding:20px;
}

.header__banner-heading-text{
	color:  #ffffff;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5;
}

.header__banner-heading-link a{
	color:  #a6d6e0;
	font-size: 0.875rem;
	font-weight: 700;
}

.categories{
	display: flex;
	flex-wrap: wrap;
}

.categories__item{
	position: relative;
	height: 75px;
	background: #ccc;
	color: #fff;
	flex:1 0 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 4px;
    width: 100%;
}

.categories__item h2{
	position: relative;
	left:50%;
	transform: translateX(-40%);
}

.categories__item.bg-1{
	background-image: url('../images/320/Pizza delivery fon copy 3.png');
	margin-top: 4px;
}

.categories__item.bg-2{
	background-image: url('../images/320/UA_UX Salads fon copy 3.png');
}

.categories__item.bg-3{
	background-image: url('../images/320/Desserts fon copy 3.png');
}

.categories__item-arrow{
	width: 25%;
	height: 76px;
	background: #acd8ad;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 0;
	top: 0;
}

.section__menu-header-wrapper{
    margin: 0 auto;
    width: 300px;
    position: relative;
}

.section__menu-header-logo{
	position: absolute;
	right:0;
	top:0;
	display: none;
}

.section__menu-main-wrapper{
	width: 300px;
	margin:0 auto;
}

.menu-header{
	text-transform: uppercase;
	color:  #3f4043;
	font-weight: 400;
}

.menu-subheading{
	color:  #cbcdce;
	position: relative;
	bottom: 15px;
	font-weight: 400;
}

.menu-list__bar{
    width: 285px;
    height: 25px;
    text-transform: uppercase;
    font-size: 1.254rem;
    padding: 11px;
}
.menu-list__bar.bar-1{
	background: #3f4043;
	color: #acd9ad;
}


.menu-list.Tincidunt{
	position: relative;
    bottom: 22px;
}

.menu-list{
    position: relative;
    bottom: 35px;	
}


.menu-list-content{
	width: 270px;
	margin:0 auto;
	position: relative;
}

.menu-list-content__heading{
	color:  #3f4043;
	text-transform: uppercase;
	font-weight: 400;
}

.menu-list-heading{
	color:  #3f4043;
	font-size: 0.847rem;
	position: relative;
    right: 41px;
    width: 279px;
	margin-bottom: -5px;	
}

.menu-list-heading::before{
    content:"·";
    font-size:12px;
}

.menu-list-heading::after{
    content:"1200$";
	color:  #3f4043;
	font-size: 0.847rem;
	font-weight: 700;
    position: relative;
    bottom: 40px;
    left: 220px;
}



.menu-list-icon{
    position: relative;
	left: 200px;
    bottom: 10px;
}

.menu-list-description{
	font-size: 0.549rem;
	margin-top: 5px;
	width: 100%;
}

.menu-list-content.small{
    position: relative;
    bottom: 35px;	
}

.menu-list__bar.bar-2{
	background: #acd8ad;
	color:#fff;
}

.Vestibulum-wrapper{
	position: relative;
	bottom: 20px;
}

.menu-list-icon.icon-3{
    left: 190px;
}


footer{
	width: 290px;
	height: 55px;
	background: #acd8ad;
	margin:0 auto;
	position: relative;
	bottom: 50px;
	color:  #ffffff;
	font-size: 0.75rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer-text{
	line-height: 1.4;
}

.logo-footer{
	position: absolute;
	left: 10px;
	display: none;
}


@media only screen and (min-width: 640px) {
    .header__navbar {
    	height: 75px;
    }
    .navigation{
    	font-size: 1.7rem;
    	top: 20px;
    	left: 28px;
    }
    .toggle-navbar{
    	width: 80px;
		height: 75px;
    }
    .line{
    	width: 32px;
    	height: 4px;
    }
    .header__navbar-nav-menu {
    	top: 59px;
    }
    .header__navbar-nav-menu li {
    	width: 243px;
    	height: 20px;	
    }
    .active .line:nth-child(1) {
	    transform: rotate(55deg);
	    transform-origin: 10.4px;
	}
	.active .line:nth-child(3) {
	    transform: rotate(-57deg);
	    transform-origin: 6.4px;
	    margin-left: 7px;
	}
	.header__banner-heading {
		width: 100%;
		height: 340px;
	}
	.header__banner-heading-text {
		font-size: 2.5rem;
	}
	.header__banner-heading-link a{
		font-size: 1.5rem;
	}
	.categories__item{
		height: 150px;
	}
	.categories__item-arrow{
		height: 151px;
	}
	.categories__item h2 {
	    position: relative;
	    left: 60%;
	    top: 34%;
	    transform: translate(-40%,-50%);
	    font-size: 2.25rem;
	}
	.section__menu-main-wrapper{
		width: 620px;
		position: relative;
    	bottom: 30px;
	}

	.section__menu-header-wrapper{
		width: 585px;
	}


	.menu-list-content{
    	width: 590px;
    	bottom: 24px;
    	left: 20px;
    }
    .menu-header{
    	font-size: 2.3rem;
    }
    .menu-subheading{
    	font-size: 1.25rem;
    	position: relative;
   		bottom: 36px;
    }
    .menu-list{
    	bottom: 75px;
    }
    .menu-list__bar{
    	width: 565px;
		height: 45px;
		font-size: 2.5rem;
		padding: 12px;
		position: relative;
    	left: 15px;
    }
    .menu-list-content__heading{
    	font-size: 1.875rem;
    }
	.menu-list-heading{
		font-size: 1.688rem;
		width: 550px;
	}
	.menu-list-heading::before{
		font-size: 30px;
	}
	.menu-list-heading::after{
		font-size: 1.688rem;
		left: 435px;
		bottom: 75px;
	}
	.menu-list-description {
		font-size: 1.094rem;
	}
	.menu-list-icon img{
		width: 50px;
		height: 50px;
	}
	.menu-list-icon{
		left: 420px;
    	bottom: 20px;
	}
	.menu-list-icon.icon-3 {
    	left: 420px;
	}
	footer{
		width: 580px;
    	height: 100px;
	}
	.footer-text{
		font-size: 1.2rem;
	}


}


@media only screen and (min-width: 980px){
	.navigation,.toggle-navbar{
		display: none;
	}

	.header__banner-heading{
		background-image: url('../images/980/header-fon copy.png');
	}

	.header__navbar-nav-menu{
		position: relative;
    	top: 13px;
    	right: 20px;
		text-align: center;
	}
	.header__navbar-nav-menu li {
		box-shadow: initial;
		background: initial;
		display: inline;
		text-transform: uppercase;	
	}

	.header__navbar-nav-menu li:hover{
		background: initial;
	}

	.header__navbar-nav-menu li a{
		color:  #ececec;
		font-size: 0.938rem;
	}
	.main-logo{
		position: absolute;
		right: 9px;
	    top: 2px;
	    
	}
	.main-logo img{
		width: 90px;
	    height: 70px;
	}

	.header__banner-heading-text{
		font-size: 3.375rem;
	}
	
	.header__banner-heading-link a{
		font-size: 2.125rem;
		position: relative;
    	top: 15px;
	}
	
	.categories__item{
		flex-basis: 33%;
		width: 327px;
		height: 327px;
	}
	.categories__item-arrow{
		display: none;	
	}
	.categories__item.bg-1{
		margin-top: 10px;
		background-image: url('../images/980/Pizza delivery fon copy.png')
	}
	
	.categories__item.bg-2{
		background-image: url('../images/980/UA_UX Salads fon copy.png')
	}
	
	.categories__item.bg-3{
		background-image: url('../images/980/Desserts fon copy.png')
	}
	.categories__item{
		margin-top: 10px;
	}

	.categories__item h2{
		font-size: 2.375rem;
	}

	.section__menu-header-wrapper{
	    width: 95%;	
	}

	.section__menu-main-wrapper{
	    width: 940px;
    	display: flex;
    	justify-content: center;
    	align-items: center;
	}
	.menu-list-content{
		width: 100%;
	    top: 40px;
	}

	.section__menu-header-logo{
		display: block;
	}

	.menu-list{
		width: 100%;
	}

	.menu-list-heading{
		width: 95%;
		font-size: 1.5rem;
	}

	.menu-list-content__heading{
		font-size: 1.626rem;
	    position: relative;
   		bottom: 65px;
	}

	.menu-list__bar{
		width: 47vw;
		left: 0px;
	}
	.menu-list-heading::after {
		font-size: 1.5rem;
		left: 85%;
		bottom: 75px;
	}
	.menu-list-icon , .menu-list-icon.icon-3{
	    position: absolute;
        top: -70px;
    	left: 78%;
    	width: 40px;
    	height: 40px;	
	}

	.menu-list-Vestibulum{
	    position: relative;
	    bottom: 2px;	
	}

	.menu-list-description{
		font-size: 1rem;
	}

	footer{
		width: 96%;
		flex-direction: row;
	}

	.logo-footer{
		display: block;
	}
}



@media only screen and (min-width: 1200px){
	.header__navbar-nav-menu li{
		text-transform: uppercase;
	}
	.menu-header{
		font-size: 2.5rem;
	}

	.menu-list-content__heading{
		font-size: 1.875rem;
	}

	.menu-list-heading{
		font-size: 1.688rem;
	}

	.menu-list-description{
		font-size: 1.1rem;
	}

	.menu-list-heading::after{
		font-size: 1.688rem;
		left: 86%;
	}

	.menu-list-heading{
		width: 96%;
	}
	.menu-list-content__heading{
		bottom: 65px;
	}
	.menu-list-icon, .menu-list-icon.icon-3{
	    position: absolute;
    	top: -75px;
        left: 82%;	
	}
}