body{
	font-family: 'HelveticaNeueCyr', sans-serif;
	font-size:16px;
}

html{
	width: 100%;
	height: 100%;
}

a{
	text-decoration: none;
}

button{
	outline: none;
	border:none;
	cursor: pointer;
	color:  #ffffff;
}

section{
	overflow: hidden;
}

header{
	width: 100%;
	height: 173px;
}

.container{
	max-width: 1400px;
	margin:0 auto;
}


.header__contacts{
	width: 100%;
	height: 42px;
	position: relative;
	background-color:  #f0f2f4;
	box-shadow: 0px 1px 0px 0px #e2e2e2;
}
.header__contacts-wrapper{
	height: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	color:  #424242;
	font-size: 0.938rem;
	position: absolute;
	right:190px;
}
.header__contacts-wrapper div{
	margin-left: 10px;
}
.tel-num{
    margin-bottom: 1px;
}

.email{
    margin-bottom: 2px;
    margin-right: 1px;
}

.tel-container , .email-container{
	display: flex;
	flex-direction: row;	
	align-items: center;
	justify-content: center;
}
.tel-icon i{
    font-size: 1.05rem;
}

.email-icon i{
	font-size: 1.188rem;
}

.tel-container::after{
	content: '';
	display: block;
	background: #e2e2e2;
	height: 42px;
	width: 1px;
    position: relative;
    left: 23px;
}
div.email-container{
	margin-left: 30px;
}
.tel-num , .email{
	font-family: 'Helvetica' , sans-serif;
}


.facebook{
	border-radius: 3px;
	background-color:  #1287bf;
	width: 26px;
	height: 26px;	
	color: #fff;
	font-weight: 700;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content:center;
}

.header__navbar{
	width: 100%;
	height: 131px;
	position: relative;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content:center;
}

.header__navbar-logo{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content:center;
	position: absolute;
    left: 138px;
    bottom: 36px;
}

.header__navbar-logo-text-wrapper{
    position: relative;
    bottom: 3px;
    left: 10px;
}

.header__navbar-logo-picture{
	width: 74px;
	height: 49px;
}
.header__navbar-logo-text-upper{
	color:  #424242;
	font-size: 2.313rem;
	font-weight: 700;
}
.header__navbar-logo-text-lower{
	color:  #424242;
	font-size: 0.938rem;	
    position: relative;
    left: 1px;
    bottom: 1px;
}


.header__navbar-nav{
	position: absolute;
    right: 179px;
    bottom: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.header__navbar-nav-menu .header__navbar-nav-menu-item:nth-child(n+2)::before{
	content: '';
	display: block;
	border-radius: 50%;
	background-color:  #424242;
	width: 5px;
	height: 5px;
	position: relative;
    top: 10px;
    left: 17px;
}
.header__navbar-nav-menu{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-right: 35px;
}

.header__navbar-nav-menu-item a{
	margin-left: 38px;
	font-weight: 700;
	color:  #424242;
	font-size: 0.938rem;
    position: relative;
    bottom: 2px;
    left: 1px;
}

.header__navbar-nav-menu-item_active a{
	color:  #de2b24;
	font-weight: 700;
	position: relative;
    top: 2px;
	left: 0px;
}

.header__navbar-nav-menu-item a:hover{
	color:  #de2b24;
	font-weight: 700;
}

.header__navbar-nav-button{
	border-radius: 4px;
	background-color:  #de2b24;
	width: 171px;
	height: 36px;
	font-size: 0.938rem;
	font-weight: 700;
    position: relative;
    top: 2px;
    right: 9px;
    padding-bottom: 3px;
    padding-right: 7px;
}

.section__banner{
	background-image: url('../images/Layer 32.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
	height: 590px;
	position: relative;
}


.section__banner-wrapper{
	position: absolute;
    top: 43.9%;
	left: 48%;
	transform: translate(-50% ,-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.section__banner-text-upper{
	color:  #ffffff;
	font-size: 3rem;
	font-weight: 700;	
}

.section__banner-text-lower{
	color:  #ffffff;
	font-size: 1.875rem;
	font-weight: 300;
    margin-left: 3px;
    margin-bottom: 32px;
}

.section__banner-button{
	background-color:  #f8cd53;
	width: 330px;
	height: 69px;
	color:  #ffffff;
	font-size: 1.45rem;
	font-weight: 700;
	border-radius: 5px;
    text-transform: uppercase;
    padding-bottom: 4px;
    padding-right: 12px;
    position: relative;
    left: 2px;
}

 
.section__about{
	width: 100%;
	height: 563px;
	position: relative;
}

.section__about-main-wrapper{
	padding-top: 90px;
}

.section__about-header-wrapper::after{
	content: '';
	display: block;
	background-color:  #424242;
	width: 47px;
	height: 5px;
	position: relative;
    top: 8px;
    right: 25px;
}

.section__about-header-wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.section__about-text-upper{
	color:  #424242;
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 1.3;	
    margin-right: 50px;
}

.section__about-text-lower{
	color:  #424242;
	font-size: 1.25rem;
	font-weight: 100;
	line-height: 1.3;
    position: relative;
    bottom: 4px;
    right: 28px;
}

.section__about-icons-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: center;
    margin-top: 53px;
    margin-right: 58px;
}

.section__about-icons-item{
	width: 243px;
	height: 197px;
	text-align: center;
}

.section__about-icons-wrapper .section__about-icons-item:nth-child(n+2){
	margin-left: 114px;
}

.section__about-icons-item-header{
	color:  #424242;
	font-size: 1.375rem;
	font-weight: 700;
	margin-top: 28px;
	margin-bottom: 14px;
}

.section__about-icons-item-text{
	font-family: 'Open Sans', sans-serif;
	color:  #5b5b5b;
	font-size: 0.844rem;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;
	line-height: 1.63;
}

.section__about-icons-item:nth-child(1) .section__about-icons-item-img{
    position: relative;
	left: 19px;
}

.section__about-icons-item:nth-child(1) .section__about-icons-item-header{
    position: relative;
    bottom: 7px;
    left: 18px;
}

.section__about-icons-item:nth-child(1) .section__about-icons-item-text{
    position: relative;
    bottom: 12px;
	left:18px;
}

.section__about-icons-item:nth-child(2) .section__about-icons-item-header{
    position: relative;
    bottom: 7px;
    left: 3px;
}

.section__about-icons-item:nth-child(2) .section__about-icons-item-text{
    position: relative;
    bottom: 12px;
    left: 3px;
}

.section__about-icons-item:nth-child(3) .section__about-icons-item-img{
    position: relative;
    top: 7px;
    right: 18px;
}

.section__about-icons-item:nth-child(3) .section__about-icons-item-header{
    position: relative;
    bottom: 9px;
    right: 13px;
}

.section__about-icons-item:nth-child(3) .section__about-icons-item-text{
    position: relative;
    bottom: 14px;
    right: 13px;
}




.section__ourWork{
	background-color:  #de2b24;
	width: 100%;
	height: 870px;
}

.section__ourWork-main-wrapper{
    padding-top: 103px;
    padding-right: 44px;
}

.section__ourWork-header-wrapper::after{
	content: '';
	display: block;
	background-color:  #fff;
	width: 47px;
	height: 5px;
	position: relative;
	top:7px;
    right: 3px;
}

.section__ourWork-header-wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.section__ourWork-text-upper{
	color:  #fff;
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 1.3;	
    margin-right: 7px;
}

.section__ourWork-text-lower{
	color:  #fff;
	font-size: 1.25rem;
	font-weight: 100;
	line-height: 1.3;
    position: relative;
    bottom: 5px;
    right: 8px;
}

.section__ourWork-fotos-block{
    max-width: 1200px;
	height: 505px;
	margin:0 auto;
	display: flex;
	justify-content:center;
	align-items: center;
	flex-wrap: wrap;
    position: relative;
    top: 55px;
    right: 5px;
}

.section__ourWork-fotos-block-item{
	width: 257px;
	height: 253px;
}
.section__ourWork-fotos-block .section__ourWork-fotos-block-item:nth-child(n+5){
	margin-bottom: 1px;
}
.text-item{
	background-color:  #f35e59;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.text-item i{
	color:  #f9bab8;
	font-size: 2.25rem;
	font-weight: 100;	
    position: relative;
	bottom: 11px;
    right: -1px;

}

.text-item-text-1{
	color:  #ffffff;
	font-size: 1.625rem;
	font-weight: 700;	
    position: relative;
    top: 11px;
    right: -1px;
}

.text-item-text-2{
	color:  #ffffff;
	font-size: 1rem;
	font-weight: 700;	
    position: relative;
    top: 11px;
    right: -1px;
}



.section__getInTouch{
	background-color:  #2a2a2a;
	width: 100%;
	height: 490px;	
	overflow: hidden;
}

.getInTouch-text-header{
	color:  #ffffff;
	font-size: 1.813rem;
	font-weight: 700;	
	text-align: center;
    position: relative;
    top: 87px;
    left: -25px;
}

.getInTouch-icons-wrapper{
    position: relative;
    left: -25px;
    top: 113px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.getInTouch-icons-item{
    position: relative;
    bottom: 3px;
    border-radius: 3px;
    border: 2px solid #515151;
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;	
}

.getInTouch-icons-item.active , .getInTouch-icons-item:hover{
    border: 2px solid #de2b24;	
    cursor: pointer;
}

.getInTouch-icons-item i{
    color: #fff;
    font-size: 1.5rem;
}

.getInTouch-icons-item:nth-child(n+2){
	margin-left: 19px;
}
.getInTouch-icons-item:nth-child(1){
    position: relative;
    right: 2px;
}
.getInTouch-text-lower{
	font-family: 'OpenSans' , sans-serif;
	color:  #cecece;
	font-size: 0.875rem;
	font-weight: 400;	
    position: relative;
    top: 143px;
    left: 454px;
}

.getInTouch-input{
	font-family: 'OpenSans' , sans-serif;
    background-color: #515151;
    width: 661px;
    height: 52px;
    margin: 0 auto;
    border: none;
    outline: none;
    border-radius: 1px;
    position: relative;
    top: 174px;
    left: 307px;
    color: #cecece;
    font-size: 0.875rem;
    padding-left: 22px;
    padding-top: 2px;
}

.button-getInTouch-subscribe{
	color:  #ffffff;
	font-size: 1.063rem;
	font-weight: 700;	
	width: 153px;
	height: 52px;
	border-radius: 3px;
	border:1px solid #515151;
	outline: none;
	background: #2a2a2a;
	position: relative;
    top: 254px;
    right: 114px;
}

.button-getInTouch-subscribe:hover{
	border:1px solid #de2b24;
}

footer{
	background-color:  #515151;
	width: 100%;
	height: 67px;
	display: flex;
	justify-content:center;
	align-items: center;	
	position: relative;
	bottom: 0;
}

.footer-text{
	font-family: 'OpenSans' , sans-serif;
	color:  #cecece;
	font-size: 0.875rem;	
    position: relative;
    right: 52px;
    bottom: 1px;
}